<!doctype html>
<html>
<head>
	<title>SF Meta Voter Guide</title>
	<meta name="description" content="All the San Francisco Voter Guides and recommendations in one place" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
	<style>
		body {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}
	</style>
	<script src="https://unpkg.com/vue@2.0.1/dist/vue.min.js"></script>
</head>

<body>

	<h1 class="ml5 mv5 f6">SF Metaguide 2016</h1>

	<h2 class="mh5 mb4 f6 normal ttu bb pb2">Propositions and Measures</h2>

	<div id="app">

		<div class="border-box ph2" style="overflow-x: auto; max-width: 100vw">

			<table class="center" style="min-width: 72em">

				<tr>
					<td style="width: 6em"></td>
					<template v-for="col in cols">
						<td class="tc f6 b" style="width: 2em">{{ col }}</td>
					</template>
				</tr>

				<template v-for="row in rows">
					<tr>
						<template v-for="(item, index) in row">
							<td v-if="index == 0" class="pv2 pr1 border-box f5" style="height: 3em">
								<a v-bind:href="item.link" target="blank" class="dark-gray hover-black">{{ item.shortname }}</a>
							</td>
							<td v-else class="f4 tc gray">{{ (item == true) ? "✅" : (item == false) ? "❌" : "-" }}</td>
						</template>
					</tr>
				</template>

			</table>

		</div>

		<div class="mv6 mh5">
			<h2 class="mb4 f6 normal ttu">Notes</h2>
			<ul class="pl0 lh-copy" style="max-width: 26em">
				<li class="mb3">The goal is to collect all recommendations and endorsements in one place. If you think something is missing please tweet at <a class="dark-gray hover-black" href="//twitter.com/joshuajenkins">joshuajenkins</a> or create a pull request on <a class="dark-gray hover-black" href="https://github.com/joshuajenkins/metavoterguide">Github</a></li>
				<li class="mb3">This will look better on your phone soon. I wanted to get this out sooner than later.</li>
				<li class="mb3">By <a class="dark-gray hover-black" href="//twitter.com/joshuajenkins">Joshua Jenkins</a></li>
			</ul>
		</div>


	</div>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				cols: [],
				rows: []
			}
		})

		function loadJSON(url, callback) {   
			var xobj = new XMLHttpRequest()
			xobj.overrideMimeType("application/json")
			xobj.open("GET", url, true)
			xobj.onreadystatechange = function () {
				if (xobj.readyState == 4 && xobj.status == "200") {
					callback(xobj.responseText)
				}
			}
			xobj.send(null)
		}

		loadJSON("data.json", function(response) {
			var data = JSON.parse(response)

			var cols = []
			var rows = []

			data.props.map(function(prop) {
				cols.push(prop.name)
			})

			for (var i = 0; i < data.propRecs.length; i++) {
				var row = []
				row.push({
					group: data.propRecs[i].group,
					shortname: data.propRecs[i].shortname,
					link: data.propRecs[i].link
				})
				cols.map(function(col) {
					row.push(data.propRecs[i].recs[col])
				})
				rows.push(row)
			}

			app.rows = rows
			app.cols = cols
		})
	</script>
</body>
</html>